#footer
  %p
    This blog is hosted on
    %a{:href => "http://www.heroku.com"}Heroku
  %p
    Source code available at
    %a{:href => "https://github.com/jmerrifield/yagri.com"}Github
  %p
    %a{:href => "http://www.axialis.com/free/icons"}Icons
    by
    %a{:href => "http://www.axialis.com"}Axialis Team

  :javascript
    (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();