#header
  #logowithtag
    %a{:href => "/"}
      %img{:src => "/images/logo.png", :width => "448", :height => "91", :alt => "logo"}
    %span You Ain't Gonna Read It
  #navlinks
    %span
      %a{:href => "/", :rel => "home"}
        %img{:src => "/images/home.png", :alt => "Home"}
        Home
    %span
      %a{:href => "http://www.google.com/recaptcha/mailhide/d?k=01qEl5kVWCHgkTgIHM9lIdxA==&c=yZ_GRebWeN3aBnogH5Bq2RE4k0SB_bRCIqUGhOWdFds="}
        %img{:src => "/images/mail.png", :alt => "Contact"}
        Contact
    %span
      %a{:href => "/atom", :class => "feed"}
        %img{:src => "/images/rss.png", :alt => "Feed"}
        Subscribe
  %div{:style => "clear:both;"}