<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="{{ site.root }}/css/screen.css" type="text/css" />
  <link rel="stylesheet" href="{{ site.root }}/css/syntax.css" type="text/css" />
  <link rel="alternate" href="{{ site.root }}/atom.xml" type="application/atom+xml" title="ATOM Feed" />
  <link rel="shortcut icon" href="{{ site.root }}/favicon.ico" />
  <title>{{ page.title }} | yagri.com</title>
</head>
<body>
  <div id="header">
    <div id="logowithtag">
      <a href="{{ site.root }}/"><img src="{{ site.root }}/images/logo.png" width="448" height="91" alt="logo"></a>
      <span>You Ain't Gonna Read It</span>
    </div>
    <div id="navlinks">
      <span><a href="{{ site.root }}/" rel="home"><img src="{{ site.root }}/images/home.png" alt="Home">Home</a></span>
      <span><a href="{{ site.root }}/contact.html"><img src="{{ site.root }}/images/mail.png" alt="Contact">Contact</a></span>
      <span><a href="{{ site.root }}/atom.xml" class="feed"><img src="{{ site.root }}/images/rss.png" alt="Feed">Subscribe</a></span>
    </div>
    <div style="clear:both;"></div>
  </div>

  <div id="content">{{ content }}</div>
  
  <div id="footer">
    <p><a href="http://www.axialis.com/free/icons">Icons</a> by <a href="http://www.axialis.com">Axialis Team</a></p>
  </div>
</body>
</html>